<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/splide.min.css">
    <title>{% block content %}{% endblock content %}</title>
</head>
<body>
<header>
    <div class="logo">FP</div>
    <form class="search-bar">
        <input type="text" placeholder="Search..">
        <button><img src="/static/img/search_alt.svg"></button>
    </form>
    <button class="header-button">
        <a><img src="/static/img/home.svg"> Home</a>
    </button>
    <button class="header-button">
        <a><img src="/static/img/users.svg"> Subscriptions</a>
    </button>
    <div class="header-user-wrap">
        <button class="header-user" id="header-user">
            <div class="hu-username">renxob</div>
            <div class="hu-avatar">
                <img src="/static/img/temp/1.jpeg">
            </div>
            <span id="notification-count" class="notification-count">{{ msgCount }}</span>
        </button>
        <span class="hu-menu hu-menu-hidden" id="hu-menu">
            <a href="/prof/{{ UID }}">Profile</a>
            <a href="#"><span class="hu-menu-n-count">1</span>Notifications</a>
            <a href="/chat-list">Messages</a>
            <a href="/my-subscriptions">My subscriptions</a>
            <a href="#">New post</a>
            <a href="#" id="hu-log-out" class="hu-log-out">Log out</a>
        </span>
        <form action="/log-out-post" method="post" id="log-out-form" enctype="application/x-www-form-urlencoded"></form>
    </div>
</header>
<script type="text/javascript" src="/static/js/jquery-3.7.1.min.js"></script>
{% block cont %}
{% endblock cont %}
<script type="text/javascript" src="/static/js/bundle.js"></script>
<script type="text/javascript" src="/static/js/splide.min.js"></script>
<script>
    document.getElementById("hu-log-out").onclick = function (){
        document.getElementById("log-out-form").submit();
    }
</script>
</body>
</html>