{% extends "base.html" %}

{% block cont %}
<div class="chat-border">
    <div class="chat-user">
        <div class="chat-user-avatar">
            <img src="/media/avatars/chengwei-xu-003.jpeg">
        </div>
        <a href="#" class="chat-user-username">@renxbo</a>
    </div>
    <div class="chat-content">
        <div class="chat-content-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfw epfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
        <div class="chat-content-msg chat-content-msg-my-msg">
            <div class="chat-content-msg-text">
                wepfwfpewmfpwemfpwemfwepfwefmewfpwemfewpf
            </div>
            <div class="chat-content-msg-date">1/22/3333</div>
        </div>
    </div>
    <form class="chat-form">
        <textarea></textarea>
        <div class="chat-form-menu">
            <button>
                <a>Send</a>
            </button>
        </div>
    </form>
</div>
{% endblock cont %}
