{% extends "base.html" %}

{% block cont %}
<div class="chat-detail">
    <div class="chat-detail-user">
        <div class="cd-user-avatar">
            {% if user.Avatar %}
            <img src="/{{ user.Avatar }}">
            {% else %}
            <img src="/static/img/default.jpeg">
            {% endif %}
        </div>
        <a href="/prof/{{ user.Id }}" class="cd-username">
            @{{ user.Username }}
        </a>
    </div>
    <div class="chat-detail-panels">
        <div class="chat-detail-switch-panels">
            <button id="chat-detail-images-btn">Images</button>
            <button id="chat-detail-messages-btn">Messages</button>
        </div>
    </div>
    <div class="chat-detail-content">
        <div id="chat-detail-images" class="chat-detail-images">
            {% for image in images %}
                {% if forloop.Last %}
                <div data-imageId="{{ image.Id }}" class="chat-detail-image last-image">
                    <img loading="lazy" src="/{{ image.Path }}">
                </div>
                {% else %}
                <div data-imageId="{{ image.Id }}" class="chat-detail-image">
                    <img loading="lazy" src="/{{ image.Path }}">
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="chat-detail-search" class="chat-detail-search">
            <form action="/search-messages" id="search-messages" class="search-messages">
                <div class="search-messages-input-wrap">
                    <input type="text" name="message-text">
                    <button type="submit"><a>
                        <img src="/static/img/2/search.svg" alt="">
                    </a></button>
                </div>
            </form>
            <div id="chat-content-detail" class="chat-content chat-content-detail">

            </div>
        </div>
    </div>
</div>
{% endblock cont %}
