{% extends "base.html" %}

{% block cont %}
<div class="chat-list">
    {% for chatInfo in chatsInfo %}
    <a data-chatid="{{ chatInfo.Chat.Id }}" href="/chat/{{ chatInfo.Chat.Id }}" class="chat-list-item">
        <div class="chat-list-user">
            {% if chatInfo.User.Avatar %}
            <div class="chat-list-user-avatar">
                <img src="{{ chatInfo.User.Avatar }}" alt="">
            </div>
            {% else %}
            <div class="chat-list-user-avatar">
                <img src="/static/img/default.jpeg" alt="">
            </div>
            {% endif %}
            <div class="chat-list-user-data">
                <div class="chat-list-user-username">@{{ chatInfo.User.Username }}</div>
                <div class="chat-list-user-msg">{{ chatInfo.LastMsg.Text }}</div>
            </div>
        </div>
        <div id="chat-list-user-msg-count" class="chat-list-user-msg-count">{{ chatInfo.MsgCount }}</div>
    </a>
    {% endfor %}
</div>
{% endblock cont %}
