{% extends "t2/base.html" %}

{% block cont %}
<div class="chat-border">
    <div class="chat-user">
        {% if user.Avatar %}
            <div class="chat-user-avatar">
                <img src="/{{ user.Avatar }}">
            </div>
        {% else %}
            <div class="chat-user-avatar">
                <img src="/static/img/default.jpeg">
            </div>
        {% endif %}
        <a href="/prof/{{ user.Id }}" class="chat-user-username">@{{ user.Username }}</a>
    </div>
    <div class="chat-content" id="chat-content">
        {% for msg in messages %}
            {% if msg.UserId != user.Id %}
                <div data-first="1" data-msgtype="read" data-chatid="{{ chatId }}" data-msgid="{{ msg.Id }}" id="last-msg" class="chat-content-msg chat-content-msg-my-msg last-msg">
                    {% if msg.IsRead == "0" %}
                    <div class="chat-msg-not-read-my"></div>
                    {% endif %}
                    <div class="chat-content-msg-images">
                        {% for image in msg.Images %}
                        <span>
                            <img src="/{{ image.Path }}">
                        </span>
                        {% endfor %}
                    </div>
                    <div class="chat-content-msg-text">
                        {{ msg.Text }}
                    </div>
                    <div class="chat-content-msg-date">{{ msg.Date }}</div>
                </div>
            {% else %}
                {% if msg.IsRead == "1" %}
                     <div data-first="1" data-msgtype="read" data-uid="{{ uid }}" data-chatId="{{ chatId }}" data-msgId="{{ msg.Id }}" id="last-msg" class="chat-content-msg last-msg">
                {% else %}
                    <div data-first="1" data-msgtype="notread" data-uid="{{ uid }}" data-chatId="{{ chatId }}" data-msgId="{{ msg.Id }}" id="last-msg" class="chat-content-msg chat-msg-not-read chat-msg-not-read-obs chat-msg-not-read-obs-down last-msg">
                {% endif %}
                    <div class="chat-content-msg-images">
                        {% for image in msg.Images %}
                        <span>
                            <img src="/{{ image.Path }}">
                        </span>
                        {% endfor %}
                    </div>
                    <div class="chat-content-msg-text">
                        {{ msg.Text }}
                    </div>
                    <div class="chat-content-msg-date">{{ msg.Date }}</div>
                </div>
            {% endif %}
            {% endfor %}
    </div>
        <div id="chat-form-images" class="chat-form-images">
        </div>
    <form method="post" id="chat-form" class="chat-form" enctype="multipart/form-data">
        <textarea name="text" id="chat-textarea"></textarea>
        <input id="images" name="images" type="file" multiple>
        <div class="chat-form-menu">
            <button type="button" id="images-btn">
                <a><span>Images</span></a>
            </button>
            <button type="submit" id="send">
                <a><span>Send</span></a>
            </button>
        </div>
    </form>
</div>
{% endblock cont %}