{% extends "base.html" %}

{% block cont %}
<div class="chat-list">
    <div class="chat-list-item">
        <div class="chat-list-user">
            <div class="chat-list-user-avatar">
                <img src="/media/avatars/chengwei-xu-003.jpeg" alt="">
            </div>
            <div class="chat-list-user-data">
                <div class="chat-list-user-username">@renxob</div>
                <div class="chat-list-user-msg">wwfwefwfwfwefwef</div>
            </div>
        </div>
        <div class="chat-list-user-msg-count">11</div>
    </div>
    <div class="chat-list-item">
        <div class="chat-list-user">
            <div class="chat-list-user-avatar">
                <img src="/media/avatars/chengwei-xu-003.jpeg" alt="">
            </div>
            <div class="chat-list-user-data">
                <div class="chat-list-user-username">@renxob</div>
                <div class="chat-list-user-msg">wwfwefwfwfwefwef</div>
            </div>
        </div>
        <div class="chat-list-user-msg-count">11</div>
    </div>
    <div class="chat-list-item">
        <div class="chat-list-user">
            <div class="chat-list-user-avatar">
                <img src="/media/avatars/chengwei-xu-003.jpeg" alt="">
            </div>
            <div class="chat-list-user-data">
                <div class="chat-list-user-username">@renxob</div>
                <div class="chat-list-user-msg">wwfwefwfwfwefwef</div>
            </div>
        </div>
        <div class="chat-list-user-msg-count">11</div>
    </div>
</div>
{% endblock cont %}
