{% extends "base.html" %}

{% block cont %}
<section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <img class="slide-img" src="/static/img/temp/1.jpeg">
                <a href="#" class="category-name">
                    Category 1
                </a>
            </li>
            <li class="splide__slide">
                <img class="slide-img" src="/static/img/temp/1.jpeg">
                <a href="#" class="category-name">
                    Category 1
                </a>
            </li>            <li class="splide__slide">
            <img class="slide-img" src="/static/img/temp/1.jpeg">
            <a href="#" class="category-name">
                Category 1
            </a>
        </li>            <li class="splide__slide">
            <img class="slide-img" src="/static/img/temp/1.jpeg">
            <a href="#" class="category-name">
                Category 1
            </a>
        </li>            <li class="splide__slide">
            <img class="slide-img" src="/static/img/temp/1.jpeg">
            <a href="#" class="category-name">
                Category 1
            </a>
        </li>            <li class="splide__slide">
            <img class="slide-img" src="/static/img/temp/1.jpeg">
            <a href="#" class="category-name">
                Category 1
            </a>
        </li>            <li class="splide__slide">
            <img class="slide-img" src="/static/img/temp/1.jpeg">
            <a href="#" class="category-name">
                Category 1
            </a>
        </li>            <li class="splide__slide">
            <img class="slide-img" src="/static/img/temp/1.jpeg">
            <a href="#" class="category-name">
                Category 1
            </a>
        </li>
        <li class="splide__slide">
            <img class="slide-img" src="/static/img/temp/1.jpeg">
            <a href="#" class="category-name">
                Category 1
            </a>
        </li>
        </ul>
    </div>
</section>
<div class="posts">
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="post">
        <img class="post-preview-img" src="/static/img/temp/1.jpeg">
        <div class="preview-post-shadow"></div>
        <div class="preview-post-info">
            <div class="pp-name">
                Post name
            </div>
            <div class="pp-user">
                <div class="pp-user-avatar">
                    <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                </div>
                <div class="pp-user-name">
                    renxob
                </div>
            </div>
        </div>
    </a>

</div>
<script>
    document.addEventListener( 'DOMContentLoaded', function() {
        let splide = new Splide( '.splide', {
            type   : 'loop',
            perPage: 3,
            perMove: 1,
            autoWidth: true,
            gap: 10,
            pagination: false,
        } );
        splide.mount();
    } );
</script>
{% endblock cont %}
