{% extends "base.html" %}

{% block cont %}
<div class="subscription-list">
    {% for subUser in subscriptions %}
    <div class="subscription-profile">
        <div class="subscription-profile-avatar">
            <img src="media/avatars/chengwei-xu-003.jpeg">
        </div>
        <a href="/prof/{{ subUser.Id }}" class="subscription-profile-username">@{{ subUser.Username }}</a>
    </div>
    {% endfor %}
    {% if !subscriptions %}
        No subscriptions found.
    {% endif %}
</div>
{% endblock cont %}
