{% extends "base.html" %}

{% block cont %}
<form action="/save-post" method="post" class="page-panel" enctype="multipart/form-data">
    {% if error %}
    <span class="error">{{ error }}</span>
    {% endif %}
    <div class="page-panel-title">
        New post
    </div>
    <div class="page-panel-input">
        <label for="new-post-name">Name</label>
        <input required id="new-post-name" type="text" name="name">
    </div>
    <div class="page-panel-textarea">
        <label for="new-post-description">Description</label>
        <textarea rows="5" id="new-post-description" name="description"></textarea>
    </div>
    <div class="page-panel-input">
        <label for="new-post-images">Images</label>
        <input required id="new-post-images" type="file" multiple name="images">
    </div>
    <div class="page-panel-input">
        <label for="new-post-category">Category</label>
        <select id="new-post-category" name="category">
            {% for category in categories %}
            <option value="{{ category.Id }}">{{ category.Name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="create-btn">
        <a>Create</a>
    </button>
</form>
{% endblock cont %}