{% extends "base.html" %}

{% block cont %}
<div id="pop-up-panel-bg-new-chat" class="pop-up-panel-bg">
    <div class="pop-up-panel pop-up-panel-new-chat">
        <button id="pop-up-activate-new-chat" class="pop-up-activate pop-up-activate-new-chat hide-pop-up-activate-new-chat"><img src="/static/img/close.svg"></button>
        <div class="pop-up-content pop-up-content-new-chat pop-up-hide">
            <form action="/create-chat" method="post" enctype="application/x-www-form-urlencoded">
                <textarea name="msg"></textarea>
                <input type="hidden" name="chatId" value="{{ isChatExist }}">
                <input type="hidden" name="userId" value="{{ user.Id }}">
                <button type="submit">
                    <a>Send</a>
                </button>
            </form>
        </div>
    </div>
    <div class="pop-up-bg pop-up-bg-hide"></div>
</div>
<div class="profile-wrap">
    <div class="profile-left-side">
        {% if user.Avatar %}
        <div class="profile-avatar">
            <img src="/{{ user.Avatar }}" alt="">
        </div>
        {% else %}
        <div class="profile-avatar">
            <img src="/static/img/default.jpeg" alt="">
        </div>
        {% endif %}
        <div class="profile-username">
            <div class="pu-name">
                {{ user.Name }}
            </div>
            <div class="pu-username">
                @{{ user.Username }}
            </div>
        </div>
        <div class="profile-buttons">
            {% if user.F("id") == UID %}
            <button class="profile-button-edit">
                <a href="/profile/{{ UID }}/edit">
                    <img src="/static/img/edit.svg">
                    <span>Edit</span>
                </a>
            </button>
            {% else %}
            <button id="profile-button-message" data-chatId="{{ isChatExist }}" class="profile-button-message">
                <a>
                    <img src="/static/img/message.svg">
                    <span>Message</span>
                </a>
            </button>
            {% endif %}
        </div>
        {% if user.F("description") %}
        <div class="profile-description">
            {{ user.F("description") }}
        </div>
        {% endif %}
    </div>
</div>
<script>
    document.getElementById("profile-button-message").onclick = function (){
        let id = this.getAttribute("data-chatId");
        if (id !== "-1"){
            window.location.href = "http://localhost:8000/chat/" + id
        } else {
            document.getElementById("pop-up-activate-new-chat").click();
        }
    }
</script>
{% endblock cont %}
