{% extends "base.html" %}

{% block cont %}
<div class="profile-wrap">
    <div class="profile-left-side">
        {% if user.Avatar %}
        <div class="profile-avatar">
            <img src="/{{ user.Avatar }}" alt="">
        </div>
        {% else %}
        <div class="profile-avatar">
            <img src="/static/img/default.jpeg" alt="">
        </div>
        {% endif %}
        <div class="profile-username">
            <div class="pu-name">
                {{ user.Name }}
            </div>
            <div class="pu-username">
                @{{ user.Username }}
            </div>
        </div>
        <div class="profile-info-items">
            <div class="p-item">
                <div class="p-item-name">
                    Subscribers
                </div>
                <div class="p-item-value">
                    356
                </div>
            </div>
            <div class="p-item">
                <div class="p-item-name">
                    Posts
                </div>
                <div class="p-item-value">
                    52
                </div>
            </div>
            <div class="p-item">
                <div class="p-item-name">
                    Avg. post rating
                </div>
                <div class="p-item-value">
                    3,5
                </div>
            </div>
        </div>
        <div class="profile-buttons">
            {% if user.Id == UID %}
            <button class="profile-button-edit">
                <a href="/profile/{{ UID }}/edit"><img src="/static/img/edit.svg">Edit</a>
            </button>
            {% else %}
            <button class="profile-button-subscribe">
                <a><img src="/static/img/subscribe.svg">Subscribe</a>
            </button>
            <button class="profile-button-message">
                <a><img src="/static/img/message.svg">Message</a>
            </button>
            {% endif %}
        </div>
        {% if user.Description %}
        <div class="profile-description">
            {{ user.Description }}
        </div>
        {% endif %}
    </div>
    <div class="profile-content">
        <div class="profile-content-menu">
            <div class="pc-menu-filter">
                <div class="pc-menu-filter-name">
                    Category
                </div>
                <button class="pc-menu-filter-value" id="pc-menu-filter-value">
                    pixel
                </button>
                <div class="filter-items filter-items-hidden" id="filter-items">
                    <button>Pixel</button>
                    <button>Pixel</button>
                    <button>Pixel</button>
                    <button>Pixel</button>
                </div>
            </div>
        </div>
        <div class="posts">
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock cont %}
