{% extends "base.html" %}

{% block cont %}
<div class="profile-wrap">
    <div class="profile-left-side">
        <div class="profile-avatar">
            <img src="/static/img/temp/2.jpeg" alt="">
        </div>
        <div class="profile-username">
            <div class="pu-name">
                renxob
            </div>
            <div class="pu-username">
                @renxob
            </div>
        </div>
        <div class="profile-info-items">
            <div class="p-item">
                <div class="p-item-name">
                    Subscribers
                </div>
                <div class="p-item-value">
                    356
                </div>
            </div>
            <div class="p-item">
                <div class="p-item-name">
                    Posts
                </div>
                <div class="p-item-value">
                    52
                </div>
            </div>
            <div class="p-item">
                <div class="p-item-name">
                    Avg. post rating
                </div>
                <div class="p-item-value">
                    3,5
                </div>
            </div>
        </div>
        <div class="profile-buttons">
            <button class="profile-button-subscribe">
                <a><img src="/static/img/subscribe.svg">Subscribe</a>
            </button>
            <button class="profile-button-message">
                <a><img src="/static/img/message.svg">Message</a>
            </button>
        </div>
        <div class="profile-description">
            It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.
            It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.        It is a long established fact that a reader
            will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web page editors now use
            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
            uncover many web sites still in their infancy.
        </div>
    </div>
    <div class="profile-content">
        <div class="profile-content-menu">
            <div class="pc-menu-filter">
                <div class="pc-menu-filter-name">
                    Category
                </div>
                <button class="pc-menu-filter-value" id="pc-menu-filter-value">
                    pixel
                </button>
                <div class="filter-items filter-items-hidden" id="filter-items">
                    <button>Pixel</button>
                    <button>Pixel</button>
                    <button>Pixel</button>
                    <button>Pixel</button>
                </div>
            </div>
        </div>
        <div class="posts">
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="post">
                <img class="post-preview-img" src="/static/img/temp/1.jpeg">
                <div class="preview-post-shadow"></div>
                <div class="preview-post-info">
                    <div class="pp-name">
                        Post name
                    </div>
                    <div class="pp-user">
                        <div class="pp-user-avatar">
                            <img class="pp-user-avatar-img" src="/static/img/temp/1.jpeg" alt="">
                        </div>
                        <div class="pp-user-name">
                            renxob
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock cont %}
