{% extends "t2/base.html" %}

{% block cont %}
<form action="/profile-edit-post/{{ user.Id }}" method="post" class="page-panel profile-edit-page-panel" enctype="multipart/form-data">
    {% if error %}
       <span class="error">{{ error }}</span>
    {% endif %}
    {{ csrf_token | safe }}
    <div class="page-panel-title">
        Profile edit
    </div>
    <div class="page-panel-input">
        <label for="profile-e-name">Name</label>
        <input id="profile-e-name" type="text" name="name" value="{{ user.Name }}">
    </div>
    <div class="page-panel-textarea">
        <label for="profile-e-description">Description</label>
        <textarea rows="5" id="profile-e-description" name="description">{{ user.Description }}</textarea>
    </div>
    <div class="page-panel-input">
        <label for="profile-e-avatar">Avatar</label>
        <input id="profile-e-avatar" type="file" name="avatar">
    </div>
    <button type="button" class="page-panel-input page-panel-checkbox pp-del-avatar" id="pp-del-avatar">
        <label for="profile-e-del-avatar" id="pp-del-avatar-label">Delete avatar</label>
        <input id="profile-e-del-avatar" type="checkbox" name="del_avatar">
    </button>
    <button class="create-btn">
        <a>Save</a>
    </button>
</form>
{% endblock cont %}