@import "vars";

.page-panel-auth{
  border: 1px solid #454545;
  width: 500px;
  margin: 100px auto auto;
  .page-panel-title{
    font-size: 22px;
  }
}

.switch-panel{
  margin-right: auto;
  font-size: 16px;
  color: $darkBlue;
}

.submit-btn{
  @include defaultButton();
  background-color: #2E8642;
  margin-left: auto;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  a{
    span{
      margin: auto;
    }
  }
}
