@import "vars";

.profile-wrap{
  display: flex;
}

.profile-left-side{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.profile-avatar{
  min-width: 300px;
  min-height: 300px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.5);
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-username{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 3px 8px;
  background-color: $lightGray;
  width: fit-content;
  border-radius: 3px;
  .pu-name{
    margin-right: 10px;
  }
}

.profile-buttons{
  display: flex;
  button{
    font-size: 18px;
    height: 40px;
    transition: 2s;
    margin-top: 10px;
  }
  .profile-button-message{
    @include linkButton(#2E4E6C, rgba(0, 0, 0, 0.2))
  }
  .profile-button-edit{
    @include linkButton(#862E2E, rgba(0, 0, 0, 0.2))
  }
}

.profile-description{
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: $lightGray;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.new-msg-form{
  position: absolute;
  top: 20%;
  left: calc(50% - 250px);
  z-index: 100;
  width: 600px;
  padding: 10px;
  box-sizing: border-box;
  background: $primaryBgColor;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  textarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border-radius: 3px;
    height: 150px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: $secondaryColor;
    font-size: 16px;
    overflow-y: scroll;
  }
  button{
    margin-left: auto;
    margin-top: 10px;
    @include linkButton(#862E2E, rgba(0, 0, 0, 0.2));
    height: 30px;
    width: 80px;
  }
}

.new-msg-form-hidden{
  display: none;
}

// PROFILE EDIT

.profile-edit-page-panel{
  width: 100%;
}

.pp-del-avatar{
  background-color: $lightGray;
  border: none;
  outline: none;
  width: fit-content;
}
