@import "base";
@import "vars";
@import "home";
@import "profile";
@import "new_post";
@import "auth";
@import "my_subscriptions";
@import "chat";
@import "chat_list";

* {
  margin: 0;
  padding: 0;
  color: #E7EBF4;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #262626;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #454545;
}

.error{
  font-size: 18px;
  color: red;
  padding: 10px;
  background-color: $secondaryColor;
  border-radius: 3px;
}
