@import "vars";
@import "profile";
@import "auth";
@import "chat";
@import "chat_list";
@import "pop_up";
@import "search";
@import "base";
@import "home";


* {
  margin: 0;
  padding: 0;
  color: #E7EBF4;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #221E1E;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #454545;
}

.error{
  font-size: 18px;
  color: red;
  padding: 10px;
  background-color: $secondaryColor;
  border-radius: 3px;
}
