$secondaryColor: #454545;
$primaryBgColor: #323232;
$darkBlue: #2E4E6C;
$lightGray: #454545;
$blockShadow: 0 0 10px 0 rgba(0, 0, 0, 0.54) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
@mixin lightMixin($rgba, $bgColor, $borr) {
  background: linear-gradient(#{$bgColor}, #{$bgColor}) padding-box,
  rgba(255, 255, 255, 0.3) border-box;
  border-radius: #{$borr};
  border: 0 solid transparent;
  border-top-width: 1px;
};

@mixin linkButton($bg_color, $lightRGBA) {
  box-sizing: border-box;
  background-color: #{$bg_color};
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 500;
  display: flex;
  box-shadow: $blockShadow;
  @include lightMixin($lightRGBA, $bg_color, 3px);
  transition: .1s;
  &:hover{
    cursor: pointer;
  }
  &:active{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.54) inset, 0 0 0 0 rgba(0, 0, 0, 0.25);
    transform: scale(95%);
  }
  img{
    width: 25px;
    margin-bottom: 4px;
    margin-right: 5px;
  }
  a{
    text-decoration: none;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
}
