{% extends "base.html" %}

{% block cont %}
<form class="page-panel page-panel-auth">
    <div class="page-panel-title">
        Register
    </div>
    <div class="page-panel-input">
        <label for="new-post-name">Name</label>
        <input id="new-post-name" type="text" name="name">
    </div>
    <div class="page-panel-input">
        <label for="new-post-username">Username</label>
        <input id="new-post-username" type="text" name="username">
    </div>
    <div class="page-panel-input">
        <label for="new-post-password">Password</label>
        <input id="new-post-password" type="password" name="password">
    </div>
    <div class="page-panel-input">
        <label for="new-post-confirm-pass">Password again</label>
        <input id="new-post-confirm-pass" type="password" name="confirm_pass">
    </div>
    <button class="submit-btn">
        <a>Create</a>
    </button>
    <a href="/sign-in" class="switch-panel">Sign in</a>
</form>
{% endblock cont %}
